@import '../../App.scss';

.d-posts {
    width: 70%;
    margin: 0 auto;
    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        li:not(:last-child) {
            margin: 0 0 0.5rem 0;
        }
        li {
            list-style: none;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: map-get($map: $color, $key: light);
            border: 8px solid map-get($map: $color, $key: borderColor);
            img {
                flex: 1;
                padding: 1rem;
                width: 0%;
            }
            .d-posts-content-item {
                flex-basis: 80%;
                p {
                    max-width: 100%;
                }
                a {
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: map-get($map: $color, $key: dark);
                }
                a:hover {
                    color: map-get($map: $color, $key: primary);
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .d-posts {
        width: 100%;
    }
}

@media (max-width: 360px) {
    .d-posts {
        width: 100%;
    }
}