$color: (
    primary: #1C56C0,
    primaryHSL: hsl(218, 56%, 61%),
    secondary: #4C4C4D,
    secondaryHSL: hsl(0, 0%, 54%),
    textPrimaryColor: #DCDCDC,
    textSecondaryColor: #7a7a7a, 
    light: #fff,
    bgHeader: rgba(255, 255, 255, .95),
    dark: #333,
    borderColor: #edf2f7
);